<ul class="list list-unstyled list-payment" role="list">
  <li class="list-payment__item">
    <img src="https://cdn.shopify.com/s/files/1/0614/8728/4404/files/gartencenter-paypal.png?v=1669967381" loading="lazy" alt="Gartencenter.de paypal" width="inherit" height="auto">
  </li>
  <li class="list-payment__item">
    <img src="https://cdn.shopify.com/s/files/1/0614/8728/4404/files/gartencenter-klarna.png?v=1669967381" loading="lazy" alt="Gartencenter.de klarna" width="inherit" height="auto">
  </li>
  <li class="list-payment__item">
    <img src="https://cdn.shopify.com/s/files/1/0614/8728/4404/files/gartencenter-visa.png?v=1669967381" loading="lazy" alt="Gartencenter.de visa" width="inherit" height="auto">
  </li>
  <li class="list-payment__item">
    <img src="https://cdn.shopify.com/s/files/1/0614/8728/4404/files/gartencenter-mastercard.png?v=1669967381" loading="lazy" alt="Gartencenter.de mastercard" width="inherit" height="auto">
  </li>
  <li class="list-payment__item">
    <img src="https://cdn.shopify.com/s/files/1/0614/8728/4404/files/gartencenter-american-express.png?v=1669967381" loading="lazy" alt="Gartencenter.de American express" width="inherit" height="auto">
  </li>
  <li class="list-payment__item">
    <img src="https://cdn.shopify.com/s/files/1/0614/8728/4404/files/gartencenter-sofort.png?v=1669967382" loading="lazy" alt="Gartencenter.de sofort" width="inherit" height="auto">
  </li>
  <li class="list-payment__item">
    <img src="https://cdn.shopify.com/s/files/1/0614/8728/4404/files/gartencenter-giropay.png?v=1669967381" loading="lazy" alt="Gartencenter.de giropay" width="inherit" height="auto">
  </li>
  <li class="list-payment__item">
    <img src="https://cdn.shopify.com/s/files/1/0614/8728/4404/files/gartencenter-sepa.png?v=1669967381" loading="lazy" alt="Gartencenter.de sepa" width="inherit" height="auto">
  </li>
  <li class="list-payment__item">
    <img src="https://cdn.shopify.com/s/files/1/0614/8728/4404/files/gartencenter-apple-pay.png?v=1669967381" loading="lazy" alt="Gartencenter.de apple pay" width="inherit" height="auto">
  </li>
</ul>