<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rating.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="page-width rating-container">
  <div class="rating-container--content">
    <span class="h2">Gartencenter.de<br>Bewertungen</span>
    <div class="rating-stars">
      {%- liquid 
        render 'global-icon' icon: 'star'
        render 'global-icon' icon: 'star'
        render 'global-icon' icon: 'star'
        render 'global-icon' icon: 'star'
        render 'global-icon' icon: 'half-star'
      -%}
    </div>
    <p>
      Bewertet mit <strong>8.8</strong><br>
      <strong>3928 Bewertungen</strong>
    </p>
  </div>
  <slider-component class="rating-slider-mob">
    <ul class="list-unstyled slider slider--mobile rating-slider">
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Patrick</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">11. Januari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Sehr guter Service und Qualität</b>
          Super! Habe 2 Pflanzen gekauft. Sie waren sehr gut verpackt, kein Krümel Erde lag daneben! Es war allerdings ein langer Weg nach Belgien. Auch mit der Qualität bin ich sehr zufrieden, sie sehen sehr gepflegt aus. Unbedingt empfehlenswert!
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Arthur</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">20. Januari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Übersichtliche Website, gutes Produkt.</b>
          Die Informationen auf der Website entsprechen genau dem gelieferten Produkt. Der bestellte Buchsbaum sieht wunderschön aus. Die Lieferzeiten sind schnell und korrekt.
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Bas</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">20. Januari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Es war wieder großartig</b>
          Wieder eine wunderschöne Pflanze gekauft, toll verpackt und pünktlich geliefert. Es ist ein Vergnügen, die Website zu durchforsten. Ich bin wieder sehr zufrieden.
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Brian</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">20. Januari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Ich bin sehr zufrieden</b>
          Ich bin sehr zufrieden, meine Pflanze wurde schnell und in gutem Zustand geliefert, prima.
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Carst</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">10. Februari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Großartiger Service!</b>
          Ich habe mehrere Zimmerpflanzen bestellt, aber eine falsche Adresse eingegeben. Ich habe mich an den Kundendienst gewandt und man hat mir sehr gut und schnell geholfen! Die Zimmerpflanzen sind da und ich bin sehr zufrieden damit!
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Casper</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">20. Februari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Ich hatte eine gute Erfahrung mit...</b>
          Ich habe eine positive Erfahrung mit dem Gartencenter gemacht. Sie sind reaktionsschnell, zuverlässig und tun ihr Bestes, um die Kundenerwartungen zu erfüllen. Manchmal passieren Dinge, und eine Pflanze, die ich gekauft habe, fing an zu schwächeln. Von der GC erhielt ich professionelle Ratschläge zur Pflege, aber die Pflanze erholte sich nicht mehr und wurde freundlicherweise schnell durch eine neue, gesunde Pflanze ersetzt. Vielen Dank an das Gartencenter-Team!!!
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Chantal</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">20. Februari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Ich hatte eine gute Erfahrung mit...</b>
          Ich habe eine positive Erfahrung mit dem Gartencenter gemacht. Sie sind reaktionsschnell, zuverlässig und tun ihr Bestes, um die Kundenerwartungen zu erfüllen. Manchmal passieren Dinge, und eine Pflanze, die ich gekauft habe, fing an zu schwächeln. Von der GC erhielt ich professionelle Ratschläge zur Pflege, aber die Pflanze erholte sich nicht mehr und wurde freundlicherweise schnell durch eine neue, gesunde Pflanze ersetzt. Vielen Dank an das Gartencenter-Team!!!
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Cris</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">13. Maart 2022</span>
        <hr>
        <p class="rating-content">
          <b>Konifere.</b>
          Ich hatte 5 Hortensien und eine Konifere bestellt und erhielt sie in gutem Zustand. Nach zwei Wochen wurde die Konifere braun und ich schickte eine E-Mail an Terence vom Kundenservice. Er bat mich, einige Fragen zu beantworten und einige Fotos zu schicken. Ich bekam ziemlich schnell eine Antwort, in der er sich für die Unannehmlichkeiten entschuldigte und mir mitteilte, dass er bereits eine Bestellung für eine neue Konifere aufgegeben hat!! Habe die neue Konifere nach nur 2 Tagen erhalten. Das ist guter Service für den Kunden, der wieder voll zufrieden ist!!!
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Dennis</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">23. Maart 2022</span>
        <hr>
        <p class="rating-content">
          <b>Gutes Preis-Leistungs-Verhältnis</b>
          Habe 2 Monstera für das Arbeitszimmer meiner Frau bestellt. Die Bestellung kam pünktlich und die Pflanzen waren super. Hatte etwas zu kleine Übertöpfe bestellt, aber ich konnte sie problemlos zurückgeben.
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Elisa</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">14. April 2022</span>
        <hr>
        <p class="rating-content">
          <b>Weinrebe "Bianca"</b>
          Im Oktober 2020 habt Ihr die Weinrebe "Bianca" geliefert. Es war einfach alles sehr korrekt. Im Winter 2020/2021 hat die Rebe minus 12 °C gut überstanden (allerdings mit einer Plane abgedeckt). 2021 haben wir den Rebstock einfach in Ruhe gelassen. Heute, am 4. September 2022, haben wir einen großen Rebstock mit 22 Trauben.
          Wir haben die erste Traube geerntet und sie war bereits sehr köstlich, obwohl es noch sehr früh für eine Freilandtraube ist. </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Erwin</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">10. Mei 2022</span>
        <hr>
        <p class="rating-content">
          <b>Ausgezeichnete Pflanze + hervorragende Lieferung</b>
          Die Pflanze war sicher verpackt, sogar mit kleinen Öffnungen hier und da, wo die Blätter ein wenig herausgeragt haben. Die Pflanze wurde auch in einem ausgezeichneten Zustand geliefert, mit einem schön formulierten Label im Karton. Der Erdballen wurde außerdem ausreichend bewässert und mit zusätzlichen Nährstoffen für die Pflanze versorgt. Ich bin sehr zufrieden.</p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Franka</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">20. Mei 2022</span>
        <hr>
        <p class="rating-content">
          <b>Sommerbestellung.</b>
          Diesmal habe ich eines dieser Wundermittel bestellt, um dem Rasen nach dieser Hitze einen Boost zu geben. (3 in 1) Produkt noch nicht benutzt, bin aber überzeugt davon! Ganz einfach online bestellt. Schnelle Lieferung, solide verpackt und ohne Schäden angekommen. Auch der Preis stimmt. Vielen Dank für Ihren erstklassigen Service!</p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Frieda</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">15. Mei 2022</span>
        <hr>
        <p class="rating-content">
          <b>Schnelle Lieferung</b>
          Schnelle Lieferung, guter Kontakt mit dem Verkäufer. Die Bäume kamen wie erwartet. Ich empfehle Sie weiter.</p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Robert</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">25. Mei 2022</span>
        <hr>
        <p class="rating-content">
          <b>Die Pflanzengarantie gilt wirklich bei Gartencenter.de</b>
          Ich habe eine sehr große Zypresse gekauft, die keine Wurzeln geschlagen hat. Deswegen habe ich mit Wouter vom Kundenservice mehrere Male Kontakt gehabt. Als Lösung wählte ich einen anderen Baum und der wird von Ihnen bald als Garantieleistung geliefert werden. Das ist sehr gut! Ich kann Sie sehr empfehlen und habe auch schon eher Pflanzen zu meiner vollen Zufriedenheit geliefert bekommen. Hilda-Lucie</p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Jim</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">15. Juni 2022</span>
        <hr>
        <p class="rating-content">
          <b>Wie es eigentlich sein sollte und, das sieht....</b>
          Eigentlich so, wie es sein sollte (und, man sieht es nicht immer so): Sie bestellen und innerhalb kurzer Zeit wird es geliefert und zwar zum vereinbarten Zeitpunkt. Sehr nett. Der Zusteller war auch ein sehr freundlicher Mann.</p>
      </li>

      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Marie-Anne</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">22. November 2022</span>
        <hr>
        <p class="rating-content">
          <b>Alles ging gut</b>
          Die Bestellung kam pünktlich an und war ordentlich verpackt. Überhaupt nichts zu beanstanden.
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Lea</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">25. Oktober 2022</span>
        <hr>
        <p class="rating-content">
          <b>Ausgezeichnete Unterstützung</b>
          Vollständig eingehaltene Vereinbarungen, schnelle Lieferung und hervorragende Verpackung zur Vermeidung von Transportschäden. Preis/Qualität gut.
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Lula</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'half-star'
          -%}
          </div>
        </span>
        <span class="rating-date">30. Oktober 2022</span>
        <hr>
        <p class="rating-content">
          <b>Super Service!</b>
          Sehr engagiert und eine klare Antwort. Auch nach dem Winter besteht noch die Möglichkeit für eine Beschwerde. Super, aber dem Baum geht es jetzt gut. Ich hoffe, dass es auch nach dem Winter so bleibt.
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Leonie</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'half-star'
          -%}
          </div>
        </span>
        <span class="rating-date">25. September 2022</span>
        <hr>
        <p class="rating-content">
          <b>Ich habe die Bestellung über den sympathischen Online-Shop aufgegeben.</b>
          Die Lieferung war sehr gut, gemäß dem angegebenen Zeitplan, und es wurde sich darum gekümmert. Auch die Pflanzanleitung hat mir gut gefallen. Alles in allem eine Empfehlung wert!!!
        </p>
      </li>
    </ul>
  </slider-component>

    <slider-component class="rating-slider-desk">
    <ul class="list-unstyled slider slider--mobile rating-slider">
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Patrick</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">11. Januari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Sehr guter Service und Qualität</b>
          Super! Habe 2 Pflanzen gekauft. Sie waren sehr gut verpackt, kein Krümel Erde lag daneben! Es war allerdings ein langer Weg nach Belgien. Auch mit der Qualität bin ich sehr zufrieden, sie sehen sehr gepflegt aus. Unbedingt empfehlenswert!
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Arthur</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">20. Januari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Übersichtliche Website, gutes Produkt.</b>
          Die Informationen auf der Website entsprechen genau dem gelieferten Produkt. Der bestellte Buchsbaum sieht wunderschön aus. Die Lieferzeiten sind schnell und korrekt.
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Bas</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">20. Januari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Es war wieder großartig</b>
          Wieder eine wunderschöne Pflanze gekauft, toll verpackt und pünktlich geliefert. Es ist ein Vergnügen, die Website zu durchforsten. Ich bin wieder sehr zufrieden.
        </p>
      </li>
      <li class="grid__item slider__slide rating-item">
        <span class="rating-name">
          <strong>Brian</strong>
          <div class="rating-stars">
          {%- liquid 
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
            render 'global-icon' icon: 'star'
          -%}
          </div>
        </span>
        <span class="rating-date">20. Januari 2022</span>
        <hr>
        <p class="rating-content">
          <b>Ich bin sehr zufrieden</b>
          Ich bin sehr zufrieden, meine Pflanze wurde schnell und in gutem Zustand geliefert, prima.
        </p>
      </li>
    </ul>
  </slider-component>

  
</div>

{% schema %}
{
  "name": "Rating",
  "tag": "section",
  "class": "section-rating",
  "presets": [
    {
      "name": "Rating"
    }
  ]
}
{% endschema %}
