<div class="page-width downloadables">
  {%- if section.settings.heading != blank -%}
  <h2>{{ section.settings.heading }}</h2>
  {%- endif -%}
  {%- if section.settings.text != blank -%}
    {{ section.settings.text }}
  {%- endif -%}
  <div class="grid grid--1-col-tablet-down grid--6-col-desktop">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'downloadables' -%}
          <a class="button button-outline grid__item" download target="blank" href="{{ block.settings.pdf_url }}">
            {%- if block.settings.button_icon == true -%}{%- render 'global-icon' icon: 'arrow-down' -%}{%- endif -%}
            {{ block.settings.download_text }}</a>
      {%- endcase -%}
    {%- endfor -%}
  </div>  
</div>

<style>
.button .icon {
  border-bottom: 3px solid;
  border-radius: 0.4rem;
}
</style>

{% schema %}
{
  "name": "Section downloads",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },    
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "downloadables",
      "name": "Downloadables",
      "settings": [
        {
          "type": "text",
          "id": "download_text",
          "default": "Button label",
          "label": "Download"
        },
        {
          "type": "url",
          "id": "pdf_url",
          "label": "Copy paste the pdf file (/admin/settings/files)"
        },
        {
          "type": "checkbox",
          "id": "button_icon",
          "default": true,
          "label": "Show button icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section downloadables",
      "blocks": [
        {
          "type": "downloadables"
        }
      ]
    }
  ]
}
{% endschema %}