.product_description-wrapper-desk {
  margin: 1.4rem 0;
}

.product__description-desk {
  margin-top: 2rem;
  height: 12rem;
  overflow: hidden;
  border-bottom: 1px solid rgba(229, 231, 235, 0.8) !important;
  padding-bottom: 1.6rem;
}

.product__description-mob a, 
.product__description-desk a {
  color: rgba(137, 184, 101);
}

.product__description-mob.is-open,
.product__description-desk.is-open {
  height: 100%;
}

.product__description-desk {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.product-usp {
  margin: 0;
  padding: 0.8rem;
  font-size: 1.6rem;
  column-gap: 0.4rem;
  align-items: center;
}

.product_usp-container {
  background-color: #f2f0ef;
  border-radius: 0 0 0.4rem;
  padding: 0.8rem;
  margin-top: 0.8rem;
}

.product-usp em {
  font-style: normal;
  color: #7BBA59;
  font-weight: 700;

}

.product-usp-fallback .icon {
  color: #7BBA59;
}

.product-usp-fallback li {
  display: flex;
  align-items: center;
}

.product-usp span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.product-usp summary {
  gap: 0.4rem;
}

.product-usp p {
  margin: 0;
  padding: 0 2rem 0.6rem;
  font-size: 1.4rem;
  font-style: italic;
}

@media screen and (max-width: 990px) {
  .product__procon {
    background: #FFF;
    border-radius: 0.4rem;
  }
}

.product__procon {
  display: grid;
  grid-template-columns: 1fr;
}


  .product__procon {
    grid-template-columns: 2.2rem 1fr;
  }


#description-mob {
  background: #FFF;
  border-radius: 0.4rem;
  padding: 0.8rem;
}

#description-mob p {
  margin: 0;
}

.product-usp .icon {
  z-index: 1;
  display: block;
  color: #7BBA59;
  width: 1.6rem;
}

.buy_container {
  background: #FFF;
  border-radius: 0.4rem;
  display: block;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.buy_container .cart__items-rebuy {
  margin: 0;
  padding: 0;

}

.buy_container--price {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.buy_container--price .price__regular {
  display: none;
}

.buy-container-btn {
  width: fit-content;
}

.buy_container .widget-type-product {
  position: relative;
  border-radius: 0.4rem;
  border: 2px solid #2E463B;
  padding: 2.8rem 0 !important;
  position: relative;
  background-color: #f2f0ef;
  margin-top: 2.6rem !important;
}

@media screen and (min-width: 768px) {
  .buy_container .widget-type-product {
    padding: 2.8rem 1rem !important;
  }
}

.buy_container .widget-type-product:before {
  margin: 0 !important;
  transform: translateX(-50%);
  left: 50%;
  width: max-content !important;
  position: absolute;
  top: -24px;
  padding: 0.8rem 1.6rem !important;
  font-size: 1.6rem !important;
  background-color: #2E463B;
  border-radius: 0.4rem;
  color: #FFF !important;
  padding: 0.8rem 1.6rem !important;
}

.buy_container .rebuy-product-block {
  border-radius: 0.4rem;
  background-color: #FFF;
}

@media screen and (min-width: 768px) {
  .buy_container .rebuy-product-media { grid-area: Photo; }
  .buy_container .rebuy-product-info { grid-area: info; }
  .buy_container .rebuy-product-options { grid-area: Options; }
  .buy_container .rebuy-product-actions { grid-area: Actions; }

  .buy_container .rebuy-product-block {
    grid-template-areas:
    "Photo info info info"
    ". Options Options Options"
    ". Actions Actions Actions" !important;
  }

  .buy_container .rebuy-product-block {
    display: grid !important;
    width: 100% !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 1fr !important;
    grid-template-areas:
    "Photo info info info"
    ". Options Options Options"
    ". Actions Actions Actions";
    gap: 0.4rem !important;
    padding: 1rem !important;
  }
  .buy_container .rebuy-product-media {
    width: 10rem !important;
    float: none !important;
  }
  .rebuy-product-info,
  .rebuy-product-options,
  .rebuy-product-actions {
    width: 100% !important;
    float: none !important;
  }
}

.product__procon-inner {
  display: grid;
  grid-template-columns: 34px 1fr;
}

.product__procon p {
  display: none;
}

.iconpro, 
.iconcon {
  margin: 0;
  padding: 0;
  color: #7BBA59;
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  line-height: 2.6rem;
  font-size: 2.1rem;
}

.product-information-selector-inner {
  background-color: #f2f0ef;
  display: flex;
}

.iconcon {
  color: gray;
}

.product__specification {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .product__specification {
    flex-direction: row;
  }
}

.product__specification strong,
.product__specification p {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .product__specification {
    flex-direction: row;
  }
  .product__specification strong {
    width: 35%;
  }
  .product__specification p { 
    width: 65%;
  }
  
}