.list-payment {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

@media screen and (min-width: 750px) {
  .list-payment {
    padding-top: 0;
  }
}

.list-payment__item {
  background-color: #fff;
  border-radius: 0.4rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.list-payment__item.mastercard img {
  width: 5rem;
}

.list-payment__item img {
  width: 7.6rem;
}

.payment-usp {
  font-size: 1.4rem;
}

@media screen and (min-width: 750px) {
  .list-payment__item img {
    width: 9.6rem;
  }
}

.payment-usp li {
  display: flex;
}

.payment-usp .icon {
  color: #7BBA59;
  margin-top: 0.4rem;
}