@media screen and (max-width: 990px) {
  .breadcrumbs__list-item:first-child,
  .breadcrumbs__item,
  .breadcrumbs__divider {
    display: none !important;
  }
  .breadcrumb-container .icon-chevron-left {
    width: 1.8rem;
  }
  .breadcrumbs-mob .breadcrumbs__list-item {
    display: none !important;    
  }
  .breadcrumbs-mob .breadcrumbs__list-item:last-child { display: flex !important;}

  .breadcrumbs-mob .icon-chevron-left {
    display: none;
  }

  .breadcrumbs .icon-chevron-left-mob {
    width: 1.6rem;
  }
}

.breadcrumbs__list-item,
.breadcrumbs-mob {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.breadcrumb-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

@media screen and (min-width: 990px) {
  .breadcrumbs .icon-chevron-left-mob {
    display: none;
  }
  .breadcrumb-container .icon-chevron-left {
    display: none;
  }
}

.breadcrumbs {
  display: flex;
  margin: 1rem 0;
}

.breadcrumbs-desk {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.breadcrumbs__item {
  display: inline-flex;
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--color-brand-text);
  text-decoration: none;
  line-height: 1.4rem;
}

.breadcrumbs__item span {
  font-size: 1.4rem;
}

.breadcrumbs__divider {
  display: flex;
  text-align: center;
  width: 1.6rem;
}

.breadcrumbs__divider .icon-chevron-right {
  max-height: 1.3rem;
}

.breadcrumbs .breadcrumbs__link,
.breadcrumbs a {
  line-height: 1.4rem;
  font-size: 1.4rem;
  color: #4B5563;
  text-decoration: none;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}
