.totals {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.totals li {
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: 2.4rem;
}

.totals-total {
  color: #000;
  font-weight: 700;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-top: 2rem;
}

.totals__subtotal-value {
  font-size: 1.8rem;
}

.totals__subtotal-freeshipping {
  color: #7bba59;
  font-weight: 600;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

