@media screen and (max-width: 750px) {
  product-description-mob {display: block;}
  product_description {display: none;}
}

@media screen and (min-width: 750px) {
  product-description-mob {display: none;}
  product-description-desk {display: block;}
}

.product_description-wrapper-desk {
  margin: 1.4rem 0;
}

.product__description-desk,
.product__description-mob {
  height: 12rem;
  overflow: hidden;
  border-bottom: 1px solid rgba(229, 231, 235, 0.8) !important;
  padding-bottom: 1.6rem;
}

.product__description-mob a, 
.product__description-desk a {
  color: rgba(137, 184, 101);
}

.product__description-mob.is-open,
.product__description-desk.is-open {
  height: 100%;
}

.product__description-desk {
  font-size: 1.4rem;
  line-height: 2rem;
}

.product-usp {
  margin: 0;
  padding: 0.8rem;
  font-size: 1.6rem;
  column-gap: 0.4rem;
  align-items: center;
}

.product_usp-container {
  background-color: #f2f0ef;
  border-radius: 0 0.4rem 0.4rem 0;
  padding: 0.8rem;
  margin-top: 0.8rem;
}

.product-usp em {
  font-style: normal;
  color: #7BBA59;
  font-weight: 700;

}

.product-usp-fallback .icon {
  color: #7BBA59;
}

.product-usp-fallback li {
  display: flex;
  align-items: center;
}

.product-usp span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.product-usp summary {
  gap: 0.4rem;
}

.product-usp p {
  margin: 0;
  padding: 0 2rem 0.6rem;
  font-size: 1.4rem;
  font-style: italic;
}

@media screen and (max-width: 990px) {
  .product__procon {
    background: #FFF;
    border-radius: 0.4rem;
  }
}

.product__procon {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 750px) {
  .product__procon {
    grid-template-columns: 2.2rem 1fr;
  }
}

#description-mob {
  background: #FFF;
  border-radius: 0.4rem;
  padding: 0.8rem;
}

#description-mob p {
  margin: 0;
}

.product-usp .icon {
  z-index: 1;
  display: block;
  color: #7BBA59;
  width: 1.6rem;
}

.buy_container {
  background: #FFF;
  border-radius: 0.4rem;
  display: block;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.buy_container--price {
  padding: 0.8rem;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
}

.buy-container-btn {
  margin-top: 1.6rem;
  width: 100%;
}

.product__procon-inner {
  display: grid;
  grid-template-columns: 34px 1fr;
}

.product__procon p {
  display: none;
}

.iconpro, 
.iconcon {
  margin: 0;
  padding: 0;
  color: #7BBA59;
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  line-height: 2.6rem;
  font-size: 2.1rem;
}

.product-information-selector-inner {
  background-color: #f2f0ef;
  display: flex;
}

.iconcon {
  color: gray;
}

.product__specification {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .product__specification {
    flex-direction: row;
  }
}

.product__specification strong,
.product__specification p {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .product__specification {
    flex-direction: row;
  }
  .product__specification strong {
    width: 35%;
  }
  .product__specification p { 
    width: 65%;
  }
  
}