.body-cart {
  background-color: #fff;
}

.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.cart__footer .totals {
  flex-direction: column;
  font-weight: 600;
}

.inc-vat {
  font-weight: 400;
  font-size: 1.4rem !important;
  color: grey;
  display: block;
  width: 100%;
}

.cart-header--container {
  margin: 0;
  padding: 1rem 0;
}

.cart-header--container h1 {
  font-size: 2.4rem;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
}

.main-cart-items .cart-item__media {
  margin-right: 1rem;
}

.main-cart-items .price--end {
  flex-direction: column;
}

.main-cart-items .cart-item {
  flex-wrap: wrap;
  display: flex;
  max-height: fit-content;
  min-height: auto;
  align-items: center;
}

.main-cart-items .separator {
  display: none;
}

.main-cart-items .cart-item__name {
  max-width: fit-content;
}

.main-cart-items .cart-item__totals {
  display: block;
}
.cart__items--disabled {
  pointer-events: none;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after, .cart__note:hover.cart__note:after,
.cart__note:before, .cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}


@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    width: 100%;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * + * {
    margin-top: 4rem;
  }

  .cart__blocks {
    margin-top: 0.9rem;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__blocks {
  background-color: #FFF;
  padding: 1rem;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin-top: 0.4rem;
  text-align: left;
  display: block;
  color: #9CA3AF;
  font-size: 1.2rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

.main-cart-section {
  grid-area: Products;
}
.cart__footer-wrapper {
  grid-area: Cart;
}

.section-rating {
  grid-area: Rating;
}
.section-services {
  grid-area: Services;
}

@media screen and (min-width: 950px) {
  .body-cart #MainContent {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 1.6rem;
    grid-template-areas: 
    "Products Products Products Products Cart Cart"
    "Products Products Products Products Cart Cart"
    "Rating Rating Rating Rating Rating Rating"
    "Services Services Services Services Services Services";
    height: 100%;
  }

  .body-cart #MainContent section {
    grid-column: span 4;
  }
}

.body-cart .section-rating,
.body-cart .section-services {
  grid-column: span 6 !important;
}

@media screen and (max-width: 750px) {
  .body-cart .rebuy-product-block {
    margin: 0 1rem 0 !important;
    width: 70% !important;
  }

  .body-cart .rebuy-product-grid {
    padding: 0 1rem !important;
  }
}

.body-cart .rebuy-product-grid {
  padding: 0;
}

.cart__checkout-button {
  font-family: var(--font-body-family);
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 3px solid #D6883A;
  border-radius: 5rem;
  background: linear-gradient(90deg, #D6883A 66px, #F29F40 0, #F29F40 100%);
  padding: 1.8rem 2.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__checkout-button:hover {
  background-image: linear-gradient(90deg, #D6883A 100%, #F29F40 0, #F29F40 0);
  transition: 0.2s ease-in-out;
}
