.bestsellers {
  margin: 2rem 1rem 2rem 1rem;
  border-radius: 0.4rem;
  border: 2px solid #2E463B;
  padding: 1rem 0.8rem;
  position: relative;
  background-color: #f2f0ef;
}

@media screen and (min-width: 750px) {
  .bestsellers {
    margin: 4.8rem 1rem 2rem 1rem;
  }

  .bestsellers-header {
    transform: translateX(-50%);
    left: 50%;
    width: max-content;
  }
}

.bestsellers-usp {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
}

@media screen and (min-width: 1350px) {
  .bestsellers {
    margin: 4.8rem auto 2rem auto;
  }
}

@media screen and (min-width: 750px) {
  .bestsellers-usp {
    margin: 1.4rem 0 1rem 0;
    gap: 0.8rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: inherit;
  }
}

.bestsellers-usp li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.bestsellers-usp li .icon-checkmark {
  color: #7BBA59;
}
@media screen and (min-width: 950px) {
  .bestsellers--inner .product-grid {
    justify-content: center;
  }
}