.bestsellers-header {
  position: relative;
  padding: 0.8rem 1.6rem !important;
  font-size: 1.6rem;
  background-color: #2E463B;
  border-radius: 0.4rem;
  color: #FFF !important;
  margin: 0 0 1rem 0;
  text-align: left !important;
}

.bestsellers .bestsellers--inner {
  margin: 1rem 0 2rem 0;
  border-radius: 0.4rem;
  border: 2px solid #2E463B;
  padding: 0 1rem 0.8rem;
  position: relative;
  background-color: #f2f0ef;
}

.bestsellers .bestsellers--inner .bestsellers-header {
  margin: 1rem 0 1rem 0;
}

@media screen and (min-width: 750px) {
  .bestsellers .bestsellers--inner .bestsellers-header {
    margin-top: 0;
  }

  .bestsellers-header {
    position: absolute !important;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .bestsellers-header {
    margin: 1rem;
  }
  .bestsellers .bestsellers-header {
    transform: translateX(-50%);
    left: 50%;
    width: max-content;
    top: -2rem;
  }
}

.bestsellers-usp {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
}

@media screen and (min-width: 750px) {
  .bestsellers-usp {
    margin: 1.4rem 0 1rem 0;
    gap: 0.8rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: inherit;
  }
}

.bestsellers-usp li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.bestsellers-usp li .icon-checkmark {
  color: #7BBA59;
}
@media screen and (min-width: 950px) {
  .bestsellers--inner .product-grid {
    justify-content: center;
  }
}

@media screen and (min-width: 1300px) {
  .bestsellers {
    margin: 6rem auto;
  }
}