.rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

.rich-text__image {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  display: block;
  border-radius: 0.4rem;
}


.rich-text__checklist {
  list-style-type: none;
  padding: 0 !important;
}

.rich-text__checklist a {
  color: #7bba59;
  text-decoration: none;
}

.rich-text__checklist li {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
}

.rich-text__checklist li::before {
 content: '✔';
}

.rich-text__checklist .icon {
  color: #7bba59;
  min-width: 18px;
}

.rich-text__image-url,
.rich-text__image-url img {
  width: -webkit-fill-available !important;
}


@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons--left {
  justify-content: left;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}

.button.link {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #7BBA59;
  font-weight: 400;
  border-radius: 0;
  display: block;
  line-height: 0;
  min-height: fit-content;
}

.button.link:hover {
  text-decoration: underline;
}

.click_image_container {
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  background-color: #f2f0ef;
}
.click_image_container:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 10%;
  border-radius: 5px;
}

.click_image_container-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.click_image_inner-inner {
  position: relative;
  width: 100%;
  height: auto;
}
.click_image_inner_1,
.click_image_inner_2 {
  position: relative;
  width: 100%;
  height: auto;
}
.click_image_inner_1 {
  display: flex;
}
.click_image_inner_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.click_image_inner,
.placeholder-svg {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.click_image_pulse {
  border:none;
  font-size: 0;
  border-radius: 100px;
  position: absolute;
  transform: translate(-50%,-50%);
  z-index: 2;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.click_image_pulse:hover {
  cursor: pointer;
}

.click_image_pulse span {
  font-size: 14px;
  position: absolute;
  background-color: black;
  color: #FFF;
  top: 34px;
  transform: translateX(-50%);
  flex-wrap: nowrap;
  width: max-content;
  padding: 0 10px;
  border-radius: 5px;
  opacity: 80%;
  display: none;
}

.click_image_pulse:hover span {
  display: block;
}

.click_image_pulse:before {
  --hot-spot-size: 16px;
  --hot-spot-after-size: calc(var(--hot-spot-size) * 2.5);
  --background: 255, 165, 0; /* Orange background color in RGB format */

  content: "";
  top: calc(50% - var(--hot-spot-after-size) / 2);
  left: calc(50% - var(--hot-spot-after-size) / 2);
  width: var(--hot-spot-after-size);
  height: var(--hot-spot-after-size);
  border-radius: var(--rounded-full, 50%);
  animation: pulseAnimation 2s ease-in-out infinite alternate;
  position: absolute;
  z-index: 1;
  opacity: 0.1; /* Equivalent to 10% opacity */
}

@keyframes pulseAnimation {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}

.click_image_pulse:nth-child(2):before {
  animation: pulseAnimation_2 2s ease-in-out infinite alternate;
}

@keyframes pulseAnimation_2 {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.1;
  }
}

.click_image_pulse:nth-child(3):before {
  animation: pulseAnimation_3 2s ease-in-out infinite alternate;
}

@keyframes pulseAnimation_3 {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.6;
  }
}

.click_image_product {
  text-decoration: none;
  align-items: flex-start;
  background-color: #FFF;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .click_image_product .click_image_product-price {
    position: absolute;
    top: 0px;
    right: 5px;
  }
}

.click_image_product .badge {
  display: none;
}

.click_image_product .price--on-sale .price__sale {
  flex-direction: row-reverse;
}

.click_image_product .click_image_product {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .click_image_product {
    display: flex;
    flex-direction: row;
  }
}

.click_image_product.is-hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.click_image_product .product__media-item {
  width: 100px;
}

.click_image_product media-gallery {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__procon {
  display: grid;
  grid-template-columns: 2.2rem 1fr;
  font-size: 14px;
  color: #000;
}

.iconpro, 
.iconcon {
  margin: 0;
  padding: 0;
  color: #7BBA59;
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  line-height: 2.6rem;
  font-size: 2.1rem;
}

.iconcon {
  color: gray;
}

@media screen and (min-width: 1250px) {
  .click_image_container-inner {
    flex-direction: initial;
  }
  .click_image_container {
    padding: 60px;
  }
  .click_image_inner_2 {
    height: 575px;
  }
  .click_image_product {
    flex-direction: row;
  }
}

.rich-text__orderedlist {
  padding-left: 25px;
}

.rich-text__orderedlist li {
  margin-bottom: 10px;
}

.rich-text__orderedlist-fat {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}

.rich-text__orderedlist-fat li {
  counter-increment: item;
  line-height: 200%;
  position: relative;
  margin-bottom: 10px;
  padding-left: 34px;
}

.rich-text__orderedlist-fat li::before {
  display: flex;
  content: counter(item) ".";
  font-weight: 700;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  min-width: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.rich-text__unorderedlist {
  padding-left: 22px;
}

.rich-text__unorderedlist li {
  margin-bottom: 10px;
}