.section-contact {
  margin: 2rem 0;
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact-heading {
  font-weight: 600;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact input,
.contact textarea {
  border: 1px solid rgba(229,231,235, 1);
  border-radius: 0.4rem !important;
}

.contact-container .grid__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-container .link {
  display: block;
  color: #7BBA59;
  text-decoration: none;
}

.contact-container .link:hover {
  text-decoration: underline;
}

.contact-info p {
  margin: 0;
}

.contact-container {
  gap: 2.6rem !important;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
  .contact-container {
    gap: 2.4rem !important;
  }
  .contact-container .grid__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .gmap_canvas {
    border-radius: 0.4rem;
  }
}

.contact-map {
  border-radius: 0.4rem;
  overflow: hidden;
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}
